{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AR VR Club | JUET</title>
    <link href="https://fonts.googleapis.com/css?family=Croissant+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Core/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Core/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'Core/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'Core/style.css' %}">
    <link rel="stylesheet" href="{% static 'Core/responsive.css' %}">
</head>
<style>
    input{
        outline: none;
    }
    button{
        outline: none;
    }
    p{
        outline: none;
    }
    a{
        outline: none;
    }
    i{
        outline: none;
    }
</style>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="blue">
                <img src="{% static 'Core/img/header-shepe-blue.png' %}" alt="">
            </div>
            <div class="white">
                <img src="{% static 'Core/img/header-shepe-white.png' %}" alt="">
            </div>
            <div class="container">
                <img class="shepe1" src="{% static 'Core/img/shepe1.png' %}" alt="">
                <img class="shepe2" src="{% static 'Core/img/shepe2.png' %}" alt="">
                <img class="shepe3" src="{% static 'Core/img/shepe2.png' %}" alt="">
                <img class="shepe4" src="{% static 'Core/img/shepe2.png' %}" alt="">
                <img class="shepe5" src="{% static 'Core/img/shepe1.png' %}" alt="">
                <img class="shepe6" src="{% static 'Core/img/shepe2.png' %}" alt="">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="logo">
                            <h2><a href="#">AR VR | JUET</a></h2>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="menu">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-text">
                            <h1>AR VR Club @ JUET</h1>
                            <p>We are AR VR Club of Jaypee University of Engineering and Technology <br> here in this campus we have a group of students having same interest and skills <br> and we are responsible for growing the culture for XR</p>
                            <button>Read More</button>
                            <button>Explore</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="another-text">
                            <h3>Our Aim</h3>
                            <p>Being the part of Fastest growing industry we try to focus to develop<br> the core skills in our University </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="development">
            <div class="blue">
                <img src="{% static 'Core/img/development-shepe-blue.png' %}" alt="">
            </div>
            <div class="white">
                <img src="{% static 'Core/img/development-shepe-white.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-md-4 col-sm-4">
                        <div class="design-development one">
                            <i class="material-icons">lightbulb_outline</i>
                            <h2>Innovation</h2>
                            <p>Innovation matters a lot for us, Innovation in XR is what we want to develop</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="design-development two">
                            <i class="material-icons">color_lens</i>
                            <h2>Design</h2>
                            <p>Designing is the key base which decides the impact of this digital world.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="design-development three">
                            <i class="material-icons">developer_board</i>
                            <h2>Development</h2>
                            <p>Innovation and Designing, when added with Development generate great impact</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="works">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="work-images">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/lbJ-IKPn2l8" frameborder="0" allowfullscreen></iframe>
                            <div class="overlay-text">
                                <i class="material-icons">play_circle_filled</i>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="work-text-full">
                            <div class="work-text">
                                <h2>What is XR?</h2>
                                <p>Its Simple. Check the video to understand How it works. Let us know, if you are ready to get started.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolia">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="port-text">
                            <h2>What We Did Recently!</h2>
                            <p>Here are few projects there our team has recently completed.<br> Hope you liked it </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <img src="{% static 'Core/img/portfolio-image1.jpg' %}" alt="">
                            <div class="overlay-slide">
                                <h2>Title Goes Here</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <img src="{% static 'Core/img/portfolio-image2.jpg' %}" alt="">
                            <div class="overlay-slide">
                                <h2>Title Goes Here</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <img src="{% static 'Core/img/portfolio-image3.jpg' %}" alt="">
                            <div class="overlay-slide">
                                <h2>Title Goes Here</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <img src="{% static 'Core/img/portfolio-image4.jpg' %}" alt="">
                            <div class="overlay-slide">
                                <h2>Title Goes Here</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <img src="{% static 'Core/img/portfolio-image5.jpg' %}" alt="">
                            <div class="overlay-slide">
                                <h2>Title Goes Here</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <img src="{% static 'Core/img/portfolio-image6.jpg' %}" alt="">
                            <div class="overlay-slide">
                                <h2>Title Goes Here</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="penination">
                            <a href="#"><p>More Works</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="team-text">
                            <h2>Our Team!</h2>
                            <p>Meet Our Awesome Team. Lorem Ipsum dolor sit amet <br> Hola amigos como estas!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="my-claint owl-carousel owl-theme">
                            
                            <div class="item">
                                <img src="{% static 'Core/img/newAshu.jpg' %}" alt="">
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>Ashutosh Kumar</h3>
                                    <h4>Founder</h4>
                                    <p><a href="https://www.facebook.com/harsh.kapoor.507027"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/harsh-kapoor-46a742169"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="https://github.com/harshkapoor1208"><i class="fa fa-github" aria-hidden="true"></i></a></p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="{% static 'Core/img/rohan.png' %}" alt="" class="rounded">
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>Rohan Kumar</h3>
                                    <h4>Volunteer</h4>
                                    <p><a href="https://www.facebook.com/harsh.kapoor.507027"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/harsh-kapoor-46a742169"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="https://github.com/harshkapoor1208"><i class="fa fa-github" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'Core/img/alokNew.jpg' %}" alt="">
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>Alok Mourya</h3>
                                    <h4>Volunteer</h4>
                                    <p><a href="https://www.facebook.com/harsh.kapoor.507027"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/harsh-kapoor-46a742169"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="https://github.com/harshkapoor1208"><i class="fa fa-github" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'Core/img/ankit.jpg' %}" alt="">
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>Ankit Jaiswal</h3>
                                    <h4>Volunteer</h4>
                                    <p><a href="https://www.facebook.com/ryder.raj.ankit"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/ankit-raj-2a74b017a"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="https://github.com/ankit039"><i class="fa fa-github" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'Core/img/nancyNew.jpg' %}" alt="">
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>Nancy Jain</h3>
                                    <h4>Volunteer</h4>
                                    <p><a href="https://www.facebook.com/harsh.kapoor.507027"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/harsh-kapoor-46a742169"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="https://github.com/harshkapoor1208"><i class="fa fa-github" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'Core/img/harshNew.jpg' %}" alt="">
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>Harsh Kapoor</h3>
                                    <h4>Volunteer</h4>
                                    <p><a href="https://www.facebook.com/harsh.kapoor.507027"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/harsh-kapoor-46a742169"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="https://github.com/harshkapoor1208"><i class="fa fa-github" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'Core/img/piyushNew.jpg' %}" alt="">
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>Piyush Chouthwani</h3>
                                    <h4>Volunteer</h4>
                                    <p><a href="https://www.facebook.com/piyush.chouthwani.5"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/piyush-chouthwani-194260173"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="https://github.com/piyush0639"><i class="fa fa-github" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <div class="blue">
                <img src="{% static 'Core/img/contact-shepe-blue.png' %}" alt="">
            </div>
            <div class="white">
                <img src="{% static 'Core/img/contact-shepe-white.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="contact-text">
                            <h2>Contact US!</h2>
                            <p>It makes us feel better when we get a chance to resolve your queries</p>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="contact-form">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="first">
                                    <input type="text" name="fname" placeholder="First Name">
                                </div>
                                <div class="last">
                                    <input type="text" name="lname" placeholder="Last Name">
                                </div>
                                <div class="email">
                                    <input type="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="message">
                                    <textarea placeholder="Your Message" name="message"></textarea>
                                </div>
                                <div class="checkbox-submit">
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="" checked> Allow Newsletter</label>
                                    </div>
                                    <div class="submit">
                                        <input type="submit" value="SEND">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-icon">
                            <h2>AR VR Club @ JUET</h2>
                            <p><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a><a href="#"><i aria-hidden="true" class="fa fa-dribbble"></i></a><a href="#"><i aria-hidden="true" class="fa fa-behance"></i></a><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="footer-text">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="footer-text-single">
                                        <h3>About Us</h3>
                                        <p><a href="#">Our Team</a></p>
                                        <p><a href="#">Company</a></p>
                                        <p><a href="#">Jobs</a></p>
                                        <p><a href="#">Newsletter</a></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="footer-text-single">
                                        <h3>Help Center</h3>
                                        <p><a href="#">Documentations</a></p>
                                        <p><a href="#">Tutorials</a></p>
                                        <p><a href="#">Term Of Use</a></p>
                                        <p><a href="#">Privecy Policy</a></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="footer-text-single">
                                        <h3>Tools</h3>
                                        <p><a href="#">Spark AR Studio</a></p>
                                        <p><a href="#">Unity 3D</a></p>
                                        <p><a href="#">Photoshop</a></p>
                                        <p><a href="#">Sitemap</a></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="footer-text-single">
                                        <h3>Get In Touch</h3>
                                        <p><a href="#">AR VR Club @ JUET</a></p>
                                        <p><a href="#">arvr.juet@gmail.com</a></p>
                                        <p><a href="#">+91 9752315423</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'Core/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'Core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Core/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'Core/js/active.js' %}"></script>
</body>

</html>